dvc==2.17.0
dvclive==0.10.0
faiss-cpu==1.7.2
matplotlib
numpy
pandas
pyarrow==8.0.0
python-box==6.0.2
scikit-learn==1.1.1
seaborn
tensorboard
torch==1.12.0
torchvision==0.13.0

# dev 
deepchecks[vision]==0.8.1
ipykernel
jupyter
